/*
 * Variables for use in sass sheets
 */


$nav-turquoise: #00a087
$nav-white: #e8fdff
$grey-backgrounds: #EFEFEF
$body-blue: #244751
$default-grey: #eee
$error-red: #FFDDDD


=grey-border
  border: 1px solid lightgrey

=float-left
  float: left
  margin-left: 1em

=float-right
  float: right
  margin-right: 1em

=clear-fix
  content: ''
  clear: both
  display: table

=wrap-text
  overflow: visible
  word-wrap: break-word

