/*
 * Styling for the Nav bar in the tweeter app
 */

// Nav bar banner fixed to top of page
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: $nav-height;
  width: 100%;
  top: 0;
  padding-left: 2em;
  background-color: $nav-background;
  color: $nav-white;
  z-index: 1;
  box-shadow: 0 4px 4px -2px #005555;

  div{
    display: flex;
    align-items: center;
  }
  // Tweeter logo
  img {
    width: $nav-height;
    height: $nav-height;
  }

  // "Tweeter" header
  p {
    font-size: 200%;
    line-height: 0.5em;
    margin-right: 10px;
  }

  // Compose button and its hover state
  input {
    @include buttons;
    color: $nav-background;
  }

  button {
    align-self: top;
    @extend input;
    display: none;
    margin-right: 10px;
  }

  form {
    margin-right: 10px;
    display: none;
  }

  button:hover, input:hover {
    color: black;
  }
}
