/*
 * Styling for the Nav bar in the tweeter app
 */

// Nav bar banner fixed to top of page
nav {
  display: flex;
  align-items: center;
  position: fixed;
  height: $nav-height;
  width: 100%;
  top: 0;
  padding-left: 2em;
  background-color: $nav-background;
  color: $nav-white;
  z-index: 1;
  box-shadow: 0 4px 4px -2px #005555;

  // Tweeter logo
  img {
    width: $nav-height;
    height: $nav-height;
    // float: left;
  }

  // "Tweeter" header
  p {
    font-size: 200%;
    line-height: 0.5em;
    // float: left;
  }

  // Compose button and its hover state
  button, input {
    @include buttons;
    color: $nav-background;
    // float: right;
  }

  button:hover, input:hover {
    color: black;
  }

  form {
    display: none;
  }
}
